.home-page {
    .filter-bar {
        z-index: 2;
        position: sticky;
        top: 80px;
        display: flex;
        box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0);
        padding-top: 10px;
        background-color: white;
        .filter-list-container {
            display: flex;
            // flex-wrap: nowrap;
            // overflow-x: hidden;
            // text-overflow: ellipsis;
            margin-bottom: 5px;

            justify-content: space-between;
            flex: 1;

            .btn-filter-by {
                display: flex;
                color: $clr-bright;

                .txt-filter-by {
                    opacity: 0.5;
                }

                &.active {
                    .txt-filter-by {
                        color: #000000;
                        font-size: calc(100% + 2px);
                        opacity: 1;
                    }
                }

                img,
                svg {
                    padding: 5px 0px;
                    width: 24px;
                }

                &:hover {
                    border-bottom: 2px solid $clr-vector;
                }
            }
        }

        .modal-curtain {
            height:100vh;
            width:100vw;
            position: absolute;
            background-color: rgba(0,0,0,0.35);
            z-index: 999;
        }   

        .filter-modal-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;

            border-radius: 22px;
            width: 80%;
            height: 80%;

        }
    }

    .carousel-preview {
        border-radius: 12px;
    }
}