.stay-details {
  height: max-content;
  font-family: ffregular;

  svg {
    font-size: inherit;
  }

  h1 {
    font-size: 26px;
  }

  .stay-details-row {
    padding-top: $layoutPadding;
    padding-bottom: $layoutPadding;
    border-bottom: 1px solid $clr-bright;
  }

  .host-img {
    width: 56px;
    height: 56px;
  }

  //#Achievements
  .stay-achievements,
  .stay-reviews {

    svg,
    img {
      margin-right: 5px;
    }

    svg {
      font-size: x-large;
    }

    div {
      font-family: ffbold;
      padding-bottom: 10px;
    }

    span {
      font-family: fflight;
      font-size: calc(100% - 2px)
    }
  }

  // #Air-cover
  .air-cover-container {

    .img-air-cover {
      height: 56px;
      width: 123px;
    }

    div {
      padding-bottom: 16px;
    }
  }

  //#Summary
  .stay-summary {

    div {
      padding-top: inherit;
      padding-bottom: inherit;
    }
  }

  // #Amenities
  .stay-amenities {
    :first-child {
      padding-bottom: calc($layoutPadding/2);
    }

    :last-child {
      margin-top: calc($layoutPadding/2);
    }

    .amenities {
      font-family: fflight;
    }
  }

  // #Reviews
  .reviewerImg {
    width: 40px;
    height: 40px;
  }
}