.main-footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: rem(64px);
    border-top: 1px solid $clr-vector;

    .footer-nav {
        @include for-desktop-layout {
            display: none
        }

        background-color: #fff;
        color: $clr-light-txt;
        border-top: 1.5px solid $clr-vector;
        display: flex;
        justify-content: space-evenly;
        flex: 1;


        a {
            color: rgba(34, 34, 34, 0.733);
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 10px;

            &.active {
                svg {
                    color: $clr-mix;
                }
            }

            .logo {
                content: url('../../../assets/imgs/svg/logo.svg');
                width: 24px;
                height: 24px;
            }
        }
    }

    .wide-home-footer {
        background-color: $clr-bgc;
        width: 100%;
        padding: 14px 40px;
        justify-content: space-around;

        @include for-desktop-layout {
            display: flex;
        }

        .links-container {
            display: flex;
            align-self: flex-start;
        }
    }
}