.main-footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: rem(64px);

    .footer-nav {
        background-color: #fff;
        color: $clr-light-txt;
        border-top: 1.5px solid $clr-vector;
        display: flex;
        justify-content: space-evenly;
        flex: 1;

        // @include for-desktop-layout {
        //     display: none !important;
        // }

        a {
            color: rgba(34, 34, 34, 0.733);
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 10px;

            &.active {
                svg {
                    color: $clr-mix;
                }
            }

            .logo {
                content: url('../../../assets/imgs/svg/logo.svg');
                width: 24px;
                height: 24px;
            }
        }
    }
}