.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    z-index: 10;
    // position: sticky;
    // top: 0;

    .home-header {
        display: flex;

        .btns-ref-container {
            @include btn;
            align-self: center;
            flex: 1;
            justify-content: space-between;
            justify-content: flex-start;
        }

        .logo {
            display: flex;
            object-fit: contain;
            width: 40px;
            font-weight: 600;

            @include for-mobile-layout {
                display: none;
            }

            @include for-desktop-layout {
                content: url('../../../assets/imgs/png/logo.png');
                width: 50px;
            }

            @include for-desktop-layout {
                width: 60px;
            }

            @include for-wide-layout {
                content: url('../../../assets/imgs/png/airbnb.png');
                width: 200px;
            }

        }

        .user-menu {
            @include for-mobile-layout {
                display: none;
            }
        }

        .btns-filter-search {
            display: flex;
            margin: auto;
            width: 80%;
            border: 0.5px solid rgba(0, 0, 0, 0.08);
            box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
            transform: translate3d(0, 0, 0);
            border-radius: 5em;
        }
    }

    .details-header {}
}