.stay-details {
    width: 80vw;
}

.imgs-grid-container.imgs-preview {
    grid-template-columns: repeat(4, 1fr);

    >*:hover {
        opacity: 0.8;
    }
}

.img-host {
    align-self: flex-end;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.stay-title {
    h2 span {
        text-transform: capitalize;
    }

    border-bottom: 1px solid $clr5;
}

// .stay-titles {

// }