.stay-details {
    width: 80vw;
}

.imgs-grid-container.imgs-preview {
    grid-template-columns: repeat(4, 1fr);
    >*:hover {
        opacity: 0.9;
    }
}

.img-host {
    align-self: flex-end;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}