.app-header {
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.logo {
    display: flex;
    color: var(--clr-);
    font-size: 2.5em;
}

.logo::after {
    content: 'airbnb';
}