.app-header {
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

/* Logo */
.logo {
    text-decoration: none;
    display: flex;
    color: var(--clr-);
    font-size: 2.5em;
    font-weight: 400;
}

.logo::after {
    content: 'airbnb';
}