.app-header {
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    border-bottom: 1px solid $clr5;
}

.logo {
    display: flex;
}

// .logo::after {
//     content: 'airbnb';
// }

.user-btns-container {
    width: 200px;
}

.userCmp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}