.stay-list {
  display: grid;
  // padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 80px;
  // overflow-y: scroll;
}

// .stay-list {
//   margin-block: 30px;
// }