.stay-cards-grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
  }
  
  .stay-list {
    grid-auto-rows: 200px;
    margin-block: 30px;
  }