.stay-preview {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // border-radius: 5px;
  // background-repeat: no-repeat;
  // background-size: 37%;
  // background-position: 50% calc(100% - 50px);

  overflow-y: hidden;
  cursor: pointer;

   .preview-img-container {
    // height: 35vh;
    // width: 35vh;

     img {
      box-shadow: 3px 4px 8px #00000026;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }

  & .stay-name {
    font-weight: 550;
  }

  & .stay-distance,
  .stay-date {
    color: $clr5
  }



  // & .stay-price{
  //   margin-top: 8px;
  // }
}

// img {
//   box-shadow: 3px 4px 15px #00000026;
//   border-radius: 5px;
//   width: 100%;
// }

// .stay-info {
//   margin-top: -8px;
// }