.imgs-upload-container {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    >* {
        min-height: 200px;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    // &:first-child {
    //     background-color: red;
    //     grid-column: 1;
    //     grid-row: 1/2;
    // }

}

.img-uploader1 {
    grid-column: 1;
    grid-row: 1/-1;
}

.img-uploader:hover {
    background-color: rgba(47, 45, 45, 0.396);
}