* {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: ff-cereal-regular;
    scroll-behavior: smooth;
    @include for-desktop-layout {
        font-size: 18px;
    }
    @include for-wide-layout {
        font-size: 20px;
    }
}

body {
    margin: 0;
    background-color: $clr-bgc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // overflow-x: hidden;

    @include for-tablet-layout {
        &.user-menu {display: none;}
    }
    //    @media (max-width: 1300px) {font-size: 13px;}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    // margin: 0 0 1em;
    line-height: lh(30px, 25px);
}

h1 {
    font-size: rem(30px);
}

h2 {
    font-size: rem(26px);
}

h3 {
    font-size: em(12px);
}

/* MEDIA  */

// UnScratch 
img,
embed,
video,
object {max-width: 100%}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon-container{
    display: flex;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

/* TAP TARGET */
nav a,
button:not(.btn-circle) {
    min-width: 48px;
    min-height: 48px;
}

/* TXT */


/* OTHER */
hr {
    opacity: 0.75;
}

main {
    flex-grow: 1;
    width: 100%;
    justify-self: center;
}

::selection {
    background-color: $clr-lighten;
    color: $clr-mix;
}