* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: ff-cereal-regular;
    scroll-behavior: smooth;

    @include for-desktop-layout {
        font-size: 18px;
    }

    @include for-wide-layout {
        font-size: 20px;
    }
}

body {
    margin: 0;
    background-color: $clr-bgc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // overflow-x: hidden;

    @include for-tablet-layout {
        &.user-menu {
            display: none;
        }
    }

    //    @media (max-width: 1300px) {font-size: 13px;}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    margin: 0;
    line-height: rem(26px);
    font-size: rem(26px);
}

h2 {
    font-size: rem(24px);
}

h3 {
    font-size: em(12px);
}

main {
    flex-grow: 1;
    width: 100%;
    justify-self: center;
}

/* MEDIA  */
// UnScratch 
img,
embed,
video,
object {
    max-width: 100%
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button{
    cursor: pointer;
}
// ! Not Working
img[title]:hover:after {
    content: attr(title);
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    position: absolute;
    z-index: 9999;
  }
svg {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;

    &.fs-small {
        font-size: small;
    }

    &.fs-medium {
        font-size: medium;
    }

    &.fs-large {
        font-size: large;
    }

}

/* TAP TARGET */
nav a,
button:not(.btn-circle) {
    min-width: 48px;
    min-height: 48px;
}

/* TXT */
pre {
    white-space: pre-wrap;
}

/* OTHER */
hr {opacity: .75;}

::selection {
    background-color: #ff385c;
    color: $clr-bgc;
}