.btn {
    @include btn;

    &-underline {
        font-size: small;
        text-decoration: underline;
    }

    &-circle {
        border-radius: 50%;
        border: 4px solid black;
        align-items: center;
        justify-content: center;
        border: 0.5px solid $clr-vector;
        display: flex;
        height: 36px;
        justify-content: center;
        width: 36px;
    }

    &-big {@include btn($type: big);}
    
    &-ref { @include btn($type: ref);}// ! Not Working
}