form>* {
    display: block;
    width: 200px;
    margin: 10px 0px;

    ::placeholder {
        font-size: 0.75rem;
    }

    .btn-link:hover {
        background-color: $clr-prim;
        transform: scale(1.1);
    }

    input:focus {
        box-shadow: 0 0 5px hsl(0 0% 78%);
    }

    input[type="text"] {
        background: none;
        border: none;
        padding: 0.2rem 0 0 0;
    }

    input[type="text"]:focus {
        outline: none;
    }

    input[type="date"]:focus {
        width: 100%;
    }
}