// Debug
.debug * {
    background: rgba(6, 187, 15, 0.185);
    outline: 0.5px dashed rgba(255, 166, 0, 0.26);
}

.debug1 * {
    background: rgba(6, 166, 187, 0.185);
    outline: 0.2px solid rgba(255, 0, 0, 0.363);
}

// Aspect ratios
.ratio-card {
    @include aspect-ratio(100, 80);
}
.ratio-poster {
    @include aspect-ratio(100, 150);
}
.ratio-portrait- {
    @include aspect-ratio(9, 16);
}
.ratio-video {
    @include aspect-ratio(16, 9);
}
.ratio-16-9 {
    @include aspect-ratio(100, 56);
}
.ratio-square {
    @include aspect-ratio(100, 100);
}

// Position 
.grid {
    display: grid;
}

.flex {
    display: flex;
    &-grow {
        flex: 1;
    }
    &-align-center {
        align-items: center;
    }
    &-center {
        justify-content: center;
        align-items: center;
    }
    &.left {justify-content: left;}
    &.right {justify-content: right;}
    &.space-between {
        justify-content: space-between;
    }
}

// Text 
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.tag-text {
    color: $clr-darken;
    text-transform: uppercase;
}

// List
.clean-list {
    list-style-type: none;
}

