body:not(.home-page) {
    @include for-wide-layout{
        .main-content {
            display: grid;
    
            >* {
                grid-column: 2;
            }
    
            >*.full {
                grid-column: 1 / -1;
            }
    
            @include layoutGTC(auto, 1500px);
        }
    }
}

.main-layout {
    display: grid;

    >* {grid-column: 2;}

    >*.full {grid-column: 1 / -1;    }

    @include layoutGTC();
}

.main-content {
    flex-grow: 1;
    width: 100%;
    justify-self: center;

    // footer margin
    margin-bottom: rem(64px);
}

.container {
    padding: $padded-container;

    @include for-tablet-layout {
        padding: $padded-container-tablet;
    }

    @include for-desktop-layout {
        padding: $padded-container-desktop;
    }

    @include for-wide-layout {
        padding: $padded-container-wide;
    }
}