.main-layout {
    display: grid;

    >* {grid-column: 2;}
    >*.full {grid-column: 1 / -1;}

    @include layoutGTC();
}

.main-content {
    flex-grow: 1;
    width: 100%;
    justify-self: center;
    margin-bottom: rem(60px);
}

.container {
    padding: $padded-container;

    @include for-tablet-layout {
        padding: $padded-container-tablet;
    }

    @include for-desktop-layout {
        padding: $padded-container-desktop;
    }

    @include for-wide-layout {
        padding: $padded-container-wide;
    }
}