.stay-details {
    max-width: 80vw;

    span,
    button.capitalize {
        text-transform: capitalize;
    }

    * {
        font-family: ffregular;
    }

    section {
        border-bottom: 1px solid $clr5;
    }

    svg {
        font-size: small;
        font-size: calc(150%);
    }

    h1 {
        font-size: 26px;
    }

    // #stay-SPreview 
    .stay-SPreview {
        border-bottom: unset;

        .rate {
            padding-bottom: 24px;
            padding-top: 24px;
        }

    }

    // #stay-host 

    .img-host {
        align-self: flex-end;
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }

    // #imgs-preview
    .imgs-grid-container.imgs-preview {
        border-radius: 10px;
        grid-template-columns: repeat(4, 1fr);
        object-fit: contain;
        object-fit: cover;
        overflow: hidden;

        :hover {
            filter: brightness(90%);
        }

    }

    //#stay-achievements
    .stay-achievements {
        padding-top: 30px;
        padding-bottom: 30px;

        div {
            font-family: ffbold;
            padding-bottom: 10px;
        }

        span {
            font-family: fflight;
            font-size: calc(100% - 2px)
        }
    }

    .air-cover-container {
        padding-top: 32px;
        padding-bottom: 32px;

        .img-air-cover {
            height: 56px;
            width: 123px;
        }

        // .air-cover-img {
        //     content: url("https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg");
        // }
    }

    .stay-amenities {
        padding-top: 48px;
        padding-bottom: 48px;
        justify-content: flex-end;
        flex-direction: row-reverse;

        hr {
            padding-bottom: 24px;
        }

        div {
            padding-bottom: 16px;

        }

        .amenity {
            display: flex;
            align-items: center;
            padding: 20px;
        }
    }

    .stay-reservation {
        position: sticky;
        top: 80px;
        border-bottom: unset;
    }

    .reservation-container {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        width: 300px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: unset;


        button.btn-linear {
            height: 50px;
            min-height: 50px;
            min-width: 300px;
            border: none;
            position: relative;
            color: white;
            font-size: 14px;
            background: linear-gradient(90deg,
                    rgba(108, 16, 38, 1) 0%,
                    rgba(236, 37, 84, 1) var(--x),
                    rgba(7, 22, 103, 1) 100%);
        }

        button.btn-linear:focus {
            outline: none;
        }
    }

    .stay-summary {
        padding-top: 24px;
        padding-bottom: 24px;

        div {
            padding-top: inherit;
            padding-bottom: inherit;
        }
    }

}