.stay-details {
    width: 80vw;

    section {
        border-bottom: 1px solid $clr5;
    }

    button {
        font-size: 14px;
    }

    svg {
        font-size: inherit;
    }
}

.stay-title {
    padding-top: 48px;
    padding-top: 24px;

    h2 span {
        font-family: cereal6;
        text-transform: capitalize;
    }

    .img-host {
        align-self: flex-end;
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
}

.imgs-grid-container.imgs-preview {
    // max-height: 50vh;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    object-fit: contain;
    object-fit: cover;
    overflow: hidden;

    :hover {
        filter: brightness(90%);
    }

}

.stay-achievements {
    padding-top: 30px;
    padding-bottom: 30px;

    div {
        padding-bottom: 10px;
    }
}

.air-cover-container {
    padding-top: 32px;
    padding-bottom: 32px;

    .img-air-cover {
        height: 56px;
        width: 123px;
    }

    // .air-cover-img {
    //     content: url("https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg");
    // }
}

.stay-amenities {
    padding-top: 48px;
    padding-bottom: 48px;

    hr {
        padding-bottom: 24px;
    }

    div {
        padding-bottom: 16px;

    }
}