* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: ffregular, 'Courier New', Courier, monospace, sans-serif;
}

body {
    background-color: white;
    overflow-x: hidden;

    &.modal-open {
        background-color: rgba(44, 34, 34, 0.509);
    }
}

h1,
h2,
h3 {
    font-family: ffheading;
}

hr {
    opacity: 50%;
}

img {
    width: 100%;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



::selection {
    background-color: $clr-bgc;
    color: $clr1;
}

footer {
    background-color: $clr-vector;
}