* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: ffregular, 'Courier New', Courier, monospace;
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    flex-direction: column;
    position: sticky;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: ffheading;
}

img {
    width: 100%;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



::selection {
    background-color: $clr-bgc;
    color: $clr1;
}

footer {
    background-color: $clr-bright;
}