.fs12 {
    font-size: rem(12px)
}

.fs14 {
    font-size: rem(14px)
}

.fs18 {
    font-size: rem(18px)
}

.fs20 {
    font-size: rem(20px)
}

.fs24 {
    font-size: rem(24px)
}

.fs28 {
    font-size: rem(28px)
}

.fs30 {
    font-size: rem(30px)
}
// Grid Template
.imgs-grid-container {
    display: grid;
    gap: 10px;
    border-radius: 7px;
    grid-template-rows: repeat(2 1fr);
    grid-template-columns: 25% 25% 1fr 1fr;
    overflow: hidden;
    // object-fit: contain;
    object-fit: cover;

    img {
        aspect-ratio: 1/1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    :first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
}
// flex helpers
.flex {
    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;

    }

    &.align-center {
        align-items: center;
    }

    &.baseline {
        align-items: baseline;
    }

    &.space-between {
        justify-content: space-between
    }
}


.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

// Media helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.center {
    text-align: center;
}

// Buttons
.btn {
    border: 0;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}

.btn-big {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid $clr-dark;
    border-radius: 10px;
}

.btn-big:hover {
    background-color: rgba(133, 133, 133, 0.096);
}

.btn:active {
    transform: scale(1.1);
}

.debug * {
    outline: 1px solid orange;
}

#chk {
    display: none;
}

#chk:checked+.info {
    /* display: block; */
    opacity: 1;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    // list-style: none;
}