.stay-filter {
    display: flex;

    .amenities-list {
        list-style-type: none;
        position: relative;
        display: flex;
        width: 100%;
        margin: auto;
        display: flex;
        transition: all 250ms linear;

        direction: ltr;

        /* hide scrollbar in webkit browser */
        &::-webkit-scrollbar,
        .carousel-content::-webkit-scrollbar {
            display: none;
        }

        /* hide scrollbar in IE and Edge */
        -ms-overflow-style: none;
        /* hide scrollbar in Firefox */
        scrollbar-width: none;

        li {

            img,
            svg {
                // aspect-ratio: 3/2;
                width: 100%;
                max-width: 32px;
                object-fit: contain;
                //  remove white background
                mix-blend-mode: color-burn;
            }

            .btn {
                @include btn;
                display: flex;
                position: relative;
                font-size: 12px;
                justify-content: space-between;
                flex-direction: column-reverse;
                border-radius: unset;

                &:hover {
                    background: transparent;
                    color: black;
                    border-bottom: 2px solid $clr-vector;
                }

                &.active {
                    color: black;
                }

                &:focus {
                    border-bottom: 2px solid $clr-darken;
                }

                &btn-prev {
                    left: 0;
                }
            }
        }
    }

    .btn-filters {
        margin-right: $padded-layout;
        object-fit: cover;
        display: flex;
        justify-content: center;
        height: 48px;
        width: 88px;
        min-width: 88px;
    }
}

.filter-by-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    // position: sticky;
    top: 80px;
    box-shadow: none;
    transition: box-shadow 0.2s ease;
    overflow: hidden;
    position: relative;
    // overflow-x: scroll, hidden;
    // overscroll-behavior-inline: hidden;
    overflow: auto;
    // scroll-snap-align: start;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        display: none;
    }

    ul.filter-nav-list {
        display: flex;

        li {
            .btn-filter-by-amenity {}
        }
    }

    .btn-prev-filter,
    .btn-next-filter {
        position: absolute;
        background-color: whitesmoke;
        top: 24%;

        &:not(.btn-prev-filter) {
            left: 96%;
        }
    }
}

.btn-prev,
.btn-next {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
}

.btn-prev {
    left: 24px;
}

.btn-next {
    right: 24px;
}

@media (hover: none) and (pointer: coarse) {

    .btn-prev,
    .btn-next {
        display: none;
    }
}