@font-face {
    font-family: cereal1;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Bd.otf);
}
@font-face {
    font-family: cereal2;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Bk.otf);
}
@font-face {
    font-family: cereal3;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Lt.otf);
}
@font-face {
    font-family: cereal4;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Md.otf);
}
@font-face {
    font-family: cereal5;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Blk.otf);
}
@font-face {
    font-family: cereal6;
    src: url(../../assets/cereal-font/AirbnbCereal_W_XBd.otf);
}