// Light
@font-face {
    font-family: cerealLt;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Lt.otf);
}

// Regular
@font-face {
    font-family: cerealBk;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Bk.otf);
}

// Regulars bolder
@font-face {
    font-family: cerealMd;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Md.otf);
}

// Bold
@font-face {
    font-family: cerealBlk;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Blk.otf);
}
@font-face {
    font-family: cerealBd;
    src: url(../../assets/cereal-font/AirbnbCereal_W_Bd.otf);
}
@font-face {
    font-family: cerealXBd;
    src: url(../../assets/cereal-font/AirbnbCereal_W_XBd.otf);
}

///////////////////////////////////////////////////////////////////////////////////////////////

// @font-face {
//     font-family: FFHeading;
//     src: url(../../assets/fonts/Circular/AvenirLTStd-Book.otf);
// }

// @font-face {
//     font-family: FFBoldItalic;
//     src: url(../../assets/fonts/Circular/AvenirLTStd-BlackOblique.otf);
// }

// @font-face {
//     font-family: a2;
//     src: url(../../assets/fonts/Circular/AvenirLTStd-BookOblique.otf);
// }

// @font-face {
//     font-family: a3;
//     src: url(../../assets/fonts/Circular/AvenirLTStd-BookOblique.otf);
// }