// heading
@font-face {
    font-family: ffheading;
    src: url(../../assets/fonts/Circular/AvenirLTStd-Medium.otf);
}

// Light
@font-face {
    font-family: fflight;
    src: url(../../assets/fonts/cereal-font/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: cerealLt;
    src: url(../../assets/fonts/cereal-font/AirbnbCereal_W_Lt.otf);
}

// regular
@font-face {
    font-family: ffregular;
    src: url(../../assets/fonts/Circular/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: cerealBk;
    src: url(../../assets/fonts/cereal-font/AirbnbCereal_W_Bk.otf);
}

@font-face {
    font-family: ffregular1;
    src: url(../../assets/fonts/Circular/AvenirLTStd-Book.otf);
}

// bold
@font-face {
    font-family: ffbold;
    src: url(../../assets/fonts/Circular/Gilroy-Bold.ttf);
}