// Colors 
$clr1: #de1063;
$clr2: #ff385c;
$clr-bgc: #f1f1f1;
$clr-dark: #222;
$clr-bright: #717171;

// Layout
$layoutPadding: 24px;

// Layout Breakpoints
$break-mobile: 460px;
$break-tablet: 742px;
$break-desktop: 964px;
$break-wide: 1243px;

$for-mobile-layout: $break-mobile ;
$for-tablet-layout: calc($break-tablet + $layoutPadding * 2);
$for-desktop-layout: calc($break-desktop + $layoutPadding * 2);
$for-wide-layout: calc($break-wide + $layoutPadding * 2);