// Colors
$clr1: #f1f1f1;
$clr2: #ff385c;
$clr3: #de1063;
$clr4: #222;
$clr5: #8e8e8ec2;

// Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;
// 950
// 1050-1100

// Layout
$layoutPadding: 50px;

// Layout Breakpoints
$break-mobile: 460px;
$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;