// Colors 
$clr1: #de1063;
$clr2: #ff385c;
$clr-bgc: #f1f1f1;
$clr-dark: #222;
$clr-bright: #8e8e8ec2;

// Layout
$layoutPadding: 24px;

// Layout Breakpoints
$break-mobile: 460px;
$break-tablet: 742x;
$break-desktop: 964px;
$break-wide: 1100px;

$for-mobile-layout: calc($break-wide + $layoutPadding * 2);
$for-tablet-layout: calc($break-desktop + $layoutPadding * 2);
$for-desktop-layout: calc($break-tablet + $layoutPadding * 2);
$for-wide-layout: calc($break-desktop + $layoutPadding * 2);