.app-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid $clr5;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
<<<<<<< HEAD:src/assets/styles/cmps/_app-header.scss
  z-index: 100;
=======
  z-index: 1;
>>>>>>> 5b1aab2620cac42e43f637e412a8474e8af4df0d:src/styles/cmps/_app-header.scss
  width: 100%;

  .logo {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid $clr5;
    align-items: center;
    position: sticky;
    background-color: white;
    width: 100%;
  }

  .header-filter {
    width: 650px;
    background: white;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: 50px;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;

    div {
      border-radius: inherit;
      padding: 0.8rem 1.5rem;
      transition: background 250ms ease;
    }

    div:hover {
      background: hsl(0 0% 94%);
    }

    .location {
      width: 34%;
    }

    .check-in,
    .check-out,
    .guests {
      width: 22%;
    }

    input[type="text"] {
      background: none;
      border: none;
      padding: 0.2rem 0 0 0;
    }

    input[type="text"]:focus {
      outline: none;
    }

    ::placeholder {
      font-size: 0.75rem;
    }

    .guests {
      position: relative;

      .search-icon {
        height: 15px;
        width: 15px;

      }
    }

    .guests span {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: #FF385C;
      color: white;
      font-size: 0.8rem;
      padding: 0.7rem;
      border-radius: 50%;
    }

    &>div {
      position: relative;
    }


    &>div::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 55%;
      background: hsl(0 0% 90%);
    }

    &>div:nth-of-type(1)::before {
      background: transparent;
    }


    &>div:hover::before {
      background: transparent;
    }

  }
}

.user-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-host-btn {
    margin-right: 25px;
  }

  .menu-icon {
    margin-right: 10px;
  }

  .account-circle-icon {
    width: 40px;
  }
}

.btn-user-options {
  display: flex;
  align-items: center;
  // max-width: fit-content;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 50px;
}