.app-footer {
    position: fixed;
    bottom: 0px;
    background-color: red;
    border-top: 1px solid #bebebe;
    padding: 5px;
    max-height: 2vh;
    background-color: #ebebeb;
    text-align: center;
}