.main-header {
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $clr-bright;

  // Logo
  .logo {
    display: flex;
    object-fit: contain;
    width: 40px;

    @include for-desktop-layout {
      content: url('../../assets/img/airbnb.svg');
      width: 130px;
    }

    @include for-wide-layout {
      content: url('../../assets/img/airbnb.svg');
      width: 130px;
    }

  }

  // Filter Focus Btns
  .filter-btns-container {
    flex: 2;
    height: 48px;

    .btns-container {
      border-radius: 40px;
      padding: 5px;
      box-shadow: 0 0 5px hsl(0 0% 78%);
      border: 1px solid $clr-bright;

      button {
        padding-right: 10px;
        padding-left: 10px;
      }

      :not(:last-child) {
        border-right: $clr-bright solid 1px;
        margin-right: 5px;
      }
    }
  }

  // User
  .user-btns-container {
    min-width: 58px;
    min-height: 30px;
    flex: 1;
  }

  .user-nav-container {
    display: fixed;
    border-radius: 21px;
    padding: 5px 5px 5px 12px;
    border: 1px solid $clr-bright;
    padding: 5px 5px 5px 12px;
    width: fit-content;
    background-color: white;
    border-radius: 25%;
    border: 1px solid lightgrey;
    cursor: pointer;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;


    svg {
      width: 27px;
    }

    &:hover {
      box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.296);
    }
  }

  // Filter Bar
  .filter-bar {
   box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0);
  }

}

.filter-bar {
  display: none;

  .filter-list-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    justify-content: space-evenly;
    flex: 1;
    overflow-y: hidden;

    .btn-filter-by {
      display: flex;

      img,
      svg {
        padding: 5px 0px;
        width: 24px;
      }

      .txt-filter-by {
        color: $clr-bright;
        font-size: calc(100% - 2px);
      }

      &:hover {
        border-bottom: 2px solid $clr-bright;
      }
    }
  }
}