.main-header {
  position: sticky;
  z-index: 2;
  top: 0px;
  padding: $layoutPadding;
  background-color: white;

  box-shadow: 0px 2px 2px $clr-vector;
  margin-bottom: 5px;

  // Logo
  .logo-container {
    flex: 1;

    .logo {
      display: flex;
      object-fit: contain;
      width: 40px;

      @include for-mobile-layout {
        display: none;
      }

      @include for-desktop-layout {
        content: url('../../assets/img/airbnb.svg');
        width: 130px;
      }

      @include for-wide-layout {
        content: url('../../assets/img/airbnb.svg');
        width: 130px;
      }

    }
  }

  // Filter Focus Btns
  .filter-btns-container {
    flex: 2;

    .btns-container {
      border-radius: 40px;
      padding: 5px;
      box-shadow: 0 0 5px hsl(0 0% 78%);
      border: 1px solid $clr-vector;

      button {
        padding-right: 10px;
        padding-left: 10px;
      }

      :not(:last-child) {
        border-right: $clr-vector solid 1px;
        margin-right: 5px;
      }
    }
  }

  // User nav
  .user-nav {
    flex: 1;

    @include for-mobile-layout {
      display: none;
    }

    .host-link {
      display: none;
      font-weight: 600;
      font-size: 13px;
      width: 130px;
      border-radius: 22px;

      &:hover {
        background-color: rgba(235, 235, 235, 0.354);

      }

      @include for-tablet-layout {
        display: flex;
      }

      @include for-desktop-layout {
        display: flex;
      }

      @include for-desktop-layout {
        display: flex;

      }
    }


    .btn-user-nav {
      // position: absolute;
      // transform: translate(+50%, +50%);
      align-items: center;
      border: 1px solid $clr-vector;
      border-radius: 22px;
      padding: 5px 5px 5px 12px;
      width: fit-content;
      border-radius: 25%;
      border: 1px solid lightgrey;
      border-radius: 21px;
      transition: box-shadow 0.2s ease;

      svg {
        width: 27px;
      }

      &:hover {
        box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.296);
      }

      .user-nav-container {
        position: absolute;
        background-color: white;
        text-transform: capitalize;

        top: 170px;
        right: 10px;
        width: 200px;
        overflow: hidden;
        box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.296);
        transition: 0.3s;
        transform: translate(-50%, -50%);

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }

        hr {
          border-width: 0.1px;
          opacity: 30%;
        }

        li {
          padding-inline-start: 15px;
          padding-block-end: 5px;
          padding-block-start: 5px;

          &:not(:first-of-type) {
            font-weight: 300;
          }

          font-family: -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Open Sans',
          'Helvetica Neue',
          sans-serif;
          cursor: pointer;

          &:hover {
            background: #f7f7f7;
          }
        }
      }
    }
  }
}