.stay-list {
  margin-top: 80px;

  @include for-mobile-layout {
    grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
  }

  @include for-tablet-layout {
    grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  }

  @include for-desktop-layout {
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
  }

  @include for-wide-layout {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}