.details-page-preview {
    border-bottom: unset;
    display: flex;
    flex-direction: column;

    // #imgs-preview
    .imgs-preview {
        :hover {
            filter: brightness(90%);
        }
    }
}

.carousel-preview {
    border-radius: 12px;
}