.stay-preview {
  cursor: pointer;
  position: relative;
  // a {
  //   position: relative;
  // }

  .preview-img-container {
    box-shadow: 3px 4px 6px #00000026;
    border-radius: 12px;

  }

  .heart-icon {
    position: absolute;
    top: rem(15px);
    right: rem(15px);
    width: rem(24px);
    height: rem(24px);
  }

  .arrow-right {
    position: absolute;
    width: rem(35px);
    height: rem(35px);
    opacity: 0.9;
    bottom: 55%;
    right: rem(10px);
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  .arrow-left {
    position: absolute;
    width: rem(35px);
    height: rem(35px);
    opacity: 0.9;
    bottom: 55%;
    left: rem(10px);
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  & .stay-name {
    font-family: cereal3;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-top: 10px;

    .star {
      font-size: rem(15px);
      margin-right: 5px;
    }
  }

  & .stay-distance,
  .stay-date {
    color: $clr-bgc;
  }

  & .stay-price {
    margin-top: 8px;
  }
}