.stay-preview {
  cursor: pointer;

  .preview-img-container {
    box-shadow: 3px 4px 6px #00000026;
    border-radius: 10px;

    .preview-img-like {
      color: $clr1;
      // position: absolute;
      top: 15px;
      left: 200px;
      right: 15px;
    }

  }
 

  // & .stay-info {
  //   margin-top: -8px;
  //   margin-bottom: 20px;
  // }

  & .stay-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;

  }

  & .stay-distance,
  .stay-date {
    color: $clr5
  }

  // & .stay-info>* {
  //   margin-bottom: -13px;
  // }

  // & .stay-price{
  //   margin-top: 8px;
  // }
}

