.stay-list {

  @include for-mobile-layout {
    grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
  }

  @include for-tablet-layout {
    grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  }

  @include for-desktop-layout {
    grid-template-columns:  repeat(5 1fr);
  }

  @include for-wide-layout {
    grid-template-columns: repeat(5 1fr);
  }
}