/* Media Queries Breakpoint  */
@mixin for-mobile-layout {
  @media (max-width: $break-tablet) {
    @content;
  }
}
@mixin for-tablet-layout {
  @media (min-width: $break-tablet) {
    @content;
  }
}
@mixin for-desktop-layout {
  @media (min-width: $break-desktop) {
    @content;
  }
}
@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

// Grid template -  Columns
@mixin layoutGTC($min: auto, $max: 100%, $padded: $padded-layout) {
  grid-template-columns: minmax($padded, 1fr) minmax($min, $max) minmax($padded, 1fr);
}

// Aspect-ratio 
@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  >img {
    height: 100%;
    object-fit: cover;
  }
}

// Remove hover effects on iphone.
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

// Buttons.
@mixin btn($padding: em(1px) em(1px),$shape: regular,$bg: $clr-bgc,$color: $clr-darken,$hover: darken($bg, 5%)) {
  padding: $padding;
  // font-family: inherit;
  // color: inherit;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
  font-size: em(14px);
  line-height: 1.25;
  border: none;
  transition: background-color 0.2s;
  transition: scale 0.2s;

  &:hover {
    background-color: $hover;
    transform: scale 1.02;
  }

  // $shape
  @if $shape ==big {
    padding: em(7px) em(0px);
    border: 1px solid $clr-vector;
    border-radius: 10px;
    text-transform: uppercase;
    font-variation-settings: "wght" 430;

    &:active {
      transform: scale(1.1);
    }

    &:hover {
      background-color: rgba(133, 133, 133, 0.096);
    }
  }

  @if $shape ==circle {
    border-radius: 50%;
    border: 4px solid black;
    align-items: center;
    justify-content: center;
    border: 0.5px solid $clr-vector;
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
  }

}