@font-face {
    font-family: ff-cereal-regular;
    src: url(../../fonts/cereal/AirbnbCereal_W_Md.otf);
}
@font-face {
    font-family: ff-cereal-light;
    src: url(../../fonts/cereal/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: ff-cereal-bold;
    src: url(../../fonts/cereal/AirbnbCereal_W_Bd.otf);
}

@font-face {
    font-family: ff-cereal-xb;
    src: url(../../fonts/cereal/AirbnbCereal_W_XBd.otf);
}
